@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'WarowniaBd';
  src: url('/public\fonts\Warownia\WarowniaBd.otf');
}

@font-face {
  font-family: 'Brooklyn';
  src: url('/public\fonts\Brooklyn\Brooklyn-Bold-1.otf');
}

@layer base {
  @font-face {
    font-family: 'Arcade';

    src: url('/fonts/Arcade.woff2') format('woff2');
  }
}
